.highlight-none pre {
    background: #f0f8ff;
    color: #191970;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

h1 {
    color: #fff;
    font-size: 24px;
    position: relative;
    margin-left: -14px;
    padding: 8px 16px;
    background: #2980b9;
  }
  h1:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 8px solid #fff;
    border-top: 8px solid rgba(0, 0, 0, 0.5);
    border-left: 8px solid rgba(0, 0, 0, 0.5);
  }

h4 {
    color: #444;
    font-size: 24px;
    position: relative;
    padding: 0 0 2px 32px;
    border-bottom: 1px solid #2980b9;
}
h4:before, h4:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #2980b9;
  margin: auto;
}
h4:before {
  top: -6px;
  left: 0px;
}
h4:after {
  top: 6px;
  left: 6px;
}

h2 {
  color: #444;
  font-size: 24px;
  position: relative;
  padding: 10px 0 2px 28px;
  border-bottom: 2px solid #2980b9;
}
h2:before, h2:after {
  content: "";
  position: absolute;
  margin: auto;
}
h2:before {
  width: 12px;
  height: 12px;
  top: 0;
  left: 14px;
  background: #2980b9;
  transform: rotate(50deg);
}
h2:after {
  width: 8px;
  height: 8px;
  top: 18px;
  left: 6px;
  background: #2980b9;
  transform: rotate(20deg);
}

h3 {
    color: #444;
    font-size: 24px;
    line-height: 1.6em;
    padding: 0 0 2px 12px;
    border-left: 4px solid #2980b9;
    border-bottom: 1px solid #2980b9;
}
  
h5 {
    position: relative;
    padding-left: 1.2em;
    line-height: 1.4;
  }
  h5:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    font-size: 1em;
    left: 0;
    top: 0;
    color: #2980b9;
  }

h6 {
    position: relative;
    padding-left: 1.2em;
    line-height: 1.4;
  }
  
  h6:before {
    font-family: FontAwesome;
    content: "\f054";
    font-weight: 900;
    position: absolute;
    font-size: 1em;
    left: 0;
    top: 0;
    color: #2980b9; 
  }